#mb_top {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

#ta_code {
    -fx-highlight-fill: #ADFF2F;
    -fx-highlight-text-fill: #B22222;
    -fx-font-size: 18px;
}

#ta_result {
    -fx-font-family: "sans-serif";
    -fx-font-size: 20px;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

#ta_code:focused, #ta_result:focused {
    -fx-border-color: white;
}

#btn_compile {
    -fx-background-color: transparent;
    -fx-cursor: pointer;
}